<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header th:include="partials :: header(title = 'Login')"></header>

<style>
    .error {
        color: red;
    }

    .formCard {
        background-color: black;
    }



</style>
<body>
<nav th:include="partials :: navbar"></nav>
<div class="container">


    <div class="text" th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1 class="mb-3 text text-center display-4 w-100 mt-5">Log In</h1>
    <div class="d-flex justify-content-center align-items-center mt-3">

        <div class="card w-75 mt-3 ">
            <div class="card-body formCard rounded-3">
                <form th:action="@{/login}" th:method="post">

                    <label class="text" for="username">Username</label>
                    <input id="username" class="form-control" name="username" type="text">

                    <label class="text mt-2" for="password">Password</label>
                    <i class="fa fa-eye text-white" onclick="showPassword()"></i>
                    <input id="password" class="form-control" name="password" type="password">

                    <div class="error mt-2 class" th:if="${param.error}">

                        Invalid Username or Password.
                    </div>




                    <button type="submit" class="btn btn-outline-light mt-3">Login</button>

                    <a th:href="@{/emailVerify}" class="btn btn-outline-light mt-3 text-white">Forgot Password</a>

                </form>
            </div>
        </div>
    </div>


</div>
</body>
<script>
    function showPassword() {
        let x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

</html>